venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
data/
# keep demo_images/ and dermascan_v3_best.keras
node_modules/
node-v20.12.2-linux-x64/
v4/frontend/.next/
v4_frontend/.next/

# Exclude massive V5 dataset folders
archive/
v5/data_preparation/train/
v5/data_preparation/val/
v5/data_preparation/test/
